{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Skydive{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="name">Jump Title</label>
    <input name="name" id="name" required>

    <label for="jumpnumber">Jump Number</label>
    <input name="jumpnumber" id="jumpnumber" required>

    <label for="location">Location</label>
    <input name="location" id="location" required>

    <label for="latitude">Latitude</label>
    <input name="latitude" id="latitude" required>

    <label for="longitude">Longitude</label>
    <input name="longitude" id="longitude" required>

    <label for="Partners">Partners</label>
    <input type="text" name="Partners" id="Partners">

    <label for="Dive_date">Date</label>
    <input type="date" name="Dive_date" id="Dive_date" required>

    <label for="colors">Marker Color</label>
    <select name="colors" id="colors">
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="white">White</option>
      <option value="green">Green</option>
      <option value="orange">Orange</option>
      <option value="purple">Purple</option>
      <option value="pink">Pink</option>
      <option value="black">Black</option>
      <option value="gray">Gray</option>
    </select>

    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">

    <input type="submit" value="Add New Skydive">
  </form>
{% endblock %}