{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add New Dive{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="location">Location</label>
    <input name="location" id="location" required>

    <label for="Partners">Partners</label>
    <input type="text" name="Partners" id="Partners">

    <label for="Dive_date">Date</label>
    <input type="date" name="Dive_date" id="Dive_date" required>

    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">

    <input type="submit" value="Add New Dropzone">
  </form>
{% endblock %}