{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Dropzone</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="Zone_name">Dropzone Name</label>
    <input name="Zone_name" id="Zone_name" required>

    <label for="State">State</label>
    <input type="text" name="State" id="State">

     <label for="City">City</label>
    <input type="text" name="City" id="City" required>

    <label for="Latitude">Latitude</label>
    <input type="number" name="Latitude" id="Latitude" required>

    <label for="Longitude">Longitude:</label>
    <input type="text" name="Longitude" id="Longitude">

    <label for="img">Select image:</label>
    <input type="file" id="img" name="img" accept="image/*">

    <input type="submit" value="Add New Dropzone">
  </form>
{% endblock %}
{% endblock %}
